.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(203, 201, 199);
    padding: 20px;
}

.searchSortContainer {
    display: flex;
   justify-content: space-between;
   width: 80%;
}

.spiner {
    font-size: 3rem;
    margin-top: 50px;
}

.darkMode {
    background-color: black;
  
}
.darkModeSpiner {
    color: white;
    height: 100vh;
    margin-top: 0px;
}