.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.searchInput {
    border: none;

}

.searchInput:focus {
    outline: none;
}

@media only screen and (max-width: 390px) {
   .searchContainer {
    margin-left: -25px;
   
   }
}