.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.searchInput {
    border: none;

}

.searchInput:focus {
    outline: none;
}