.cardContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.cardContainer:hover {
    transform: scale(1.1); /* Equal to scaleX(0.7) scaleY(0.7) */
    border: 4px solid rgb(107, 105, 105);
}

.image {
    width: 100%;
    height: 200px;
}