.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(203, 201, 199);
   
}

.flagAndCoatOfArms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.flagContainer,
.coatOfArmsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flag {
   width: 100%;
}

.coatOfArms {
    height: 20vh;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
}

.darkMode {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 540px) {
    .flagAndCoatOfArms {
        flex-direction: column;
    }
}

@media only screen and (max-width: 452px) {
    .details {
        flex-direction: column;
        align-items: flex-start;
    }
}