
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(203, 201, 199);
    height: 87vh;
}

.details {
    margin-left: 20px;
}

.darkMode {
    background-color: black;
    color: white;
}